.cop-dropdown-actions {
    padding: 4px;

    li {
        display: block;
        float: left;
        @extend %background-color1;
        width: 44px;
        height: 44px;
        @include border-radius($cop-border-radius);
        margin: 2px;

        a {
            padding: 0;
            display: block;
        }
        &:hover{
            opacity: 0.7;
        }
        .cop-icon {
            font-size: 20px;
            margin-top: 6px;
            text-align: center;
            width: 100%;
            display: block;
        }

        .cop-action-title {
            font-size: 6pt;
            width: 100%;
            text-align: center;
            display: block;
            line-height: 18px;
            text-transform: uppercase;
        }
    }
}
