/*CSS CopCommunityFolder*/

.cop-contents .cop-communities-list {

    a:hover{
        text-decoration: none;
        opacity: 0.7;
    }
    a:active, a:focus{
        text-decoration: none;
    }
    .cop-hide-communities{
        display: none;
    }
    .cop-listing-item + .cop-listing-item {
        border-top: none;
    }
    .cop-listing-item{
        width: 100%;
        @extend %background-color2;
        margin-top: 10px;
        @include border-radius(8px);
        padding: 15px;
        display: table;

        .cop-even{
            background-color: $cop-bgcolor;
        }

        .cop-listing-div{
            float: left;
            width: 130px; 

            .cop-listing-img{
                padding: 0;
                width: 100px;
                height: 100px;
                @include border-radius(50px);
                margin-bottom: 10px;

                img{
                    @include border-radius(50px);
                    padding: 0;
                    height: 100%;
                    width: 100%;
                }
            }
            .cop-listing-join{
                max-width: 100px;
                font-size: 8pt;

                a.cop-default-button{
                    margin: 0;
                    color: $coppla-text-color;
                    font-size: 8pt;
                }
                a.cop-default-button:hover{
                    background-color: $cop-bgcolor;
                }
                span{
                    margin-right: 5px;
                    color: $coppla-text-color;
                }
                span.cop-icon.cop-icon-participating, span.cop-icon-criador,
                span.cop-icon-moderador, span.cop-icon-owner, span.cop-icon-participante,
                span.cop-icon.cop-icon-Participating, span.cop-icon-Criador,
                span.cop-icon-Moderador, span.cop-icon-Owner, span.cop-icon-Participante {
                    color: $cop-icon-green;
                }
                span.cop-icon.cop-icon-awaiting, span.cop-icon-aguardando, span.cop-icon.cop-icon-Awaiting, span.cop-icon-Aguardando{
                    color: $cop-icon-yellow;
                }
                span.cop-icon-bloqueado, span.cop-icon-Bloqueado{
                    color: $cop-icon-red;
                }
                span.cop-icon-observador, span.cop-icon-Observador{
                    color: $cop-icon-blue;
                }
            }
        }

        .cop-listing-text{
            margin-left: 140px;

            a span{
                font-size: 16px;
                font-weight: bolder;
                text-decoration:none;
                text-transform: uppercase;
                line-height: 30px;
                @extend %color0;
                text-decoration: none;
                word-wrap: break-word;
            }
            p{
                text-align: justify;
                line-height: 16px;
                font-size: 10pt;
                margin-top: -6px;
                padding-bottom: 12px;
                color: $coppla-text-color;
                margin-top: 10px;
                padding: 0;
                margin-bottom: 30px;
                word-wrap: break-word;
            }
            .cop-listing-info{
                font-size: 10pt;
                text-align: left;
                color: $coppla-text-color;

                span{
                    font-size: 8pt;
                    display: inline-block;
                    text-transform: capitalize;
                }
            }
            span.cop-sub-cop-more{
                .cop-sub-cop-source{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    a.cop-sub-cop-url{
                        :hover {
                            text-decoration: none;
                            opacity: 0.7;
                        }
                        span{
                            font-size: 10pt;
                        }
                    }
                }
            }
        }
    }
}

.cop_listing_join_overlay{
    font-size: 10pt;
    color: $coppla-text-color;
    border: 3px solid $cop-bgcolor;
    background-color: $cop-bgcolor;
    @include border-radius($cop-border-radius);
    margin: 20px;
}

.cop-listing-join{
    font-size: 8pt;

    a.cop-default-button{
        margin: 0;
        color: $coppla-text-color;
        font-size: 8pt;
    }
    a.cop-default-button:hover{
        background-color: $cop-bgcolor;
    }
    span{
        margin-right: 5px;
        &.cop-icon-participar{
            color: $cop-icon-green;
        }
    }
}