.cop-contents{
    .cop-results{
        .cop-member-results{
            .cop-member{
                width: 215px;
                margin-right: 20px;
                margin-bottom: 20px;
                @extend %background-color2;
                padding: 10px;
                @include border-radius($cop-border-radius);
                float: left;
                border: 1px solid $cop-border-color;

                a:link{
                    display: block;

                    .cop-member-img{
                        float: left;
                    }
                }
            }
        }
    }
}

