.cop-contents #content form[name="edit_form"]{
    fieldset > legend{
        display: none;
    }
    textarea, input, div.optionsBox{
        @include border-radius($cop-border-radius);
        border: 1px solid $cop-border-color;
        padding: 2px;
    }
    fieldset > div{
        margin-top:10px;
    }
    div#archetypes-fieldname-description{
        textarea#description{
            margin-bottom:3px;
            width:100%;
        }
        textarea#description + div + div {
            display: none;
        }
    }
    #existingTags dd{
        margin:0px;
    }

    input[type="checkbox"], input[type="radio"] {
        margin: 0 4px 0 0;
        vertical-align: middle;
    }
    .optionsBox label {
        padding: 5px;
    }

    .tagsContainer{

        div.existingTagsSection, dl.newTagsSection{
            margin:0px;
        }
        .existingTags .optionsBox dd{
            margin:0px;
        }
        .newTagsTitle, .newTagsHelp{
            float:none;
        }
        br{
            display: none;
        }
        #subject_keywords{
            width:100%;
        }
    }
    div#archetypes-fieldname-imagem *{
        padding:0px !important;
    }
    #cop-config-tools{
        width: 100%;
        margin: 0px;
        margin-top: 15px;
    }
    div:not(.ArchetypesBooleanWidget){
        .formQuestion{
            padding:0px;
            display:block;
            margin: 15px 0px 5px 0px;
        }
        label{
            margin: 0px;
        }
        .label{
            white-space: normal;
            text-align: left;
        }
    }
    select{
        border: 1px solid $cop-border-color;
        min-height: 22px;
        background-color: $cop-bgcolor;
        @include border-radius($cop-border-radius);
    }
    div.formControls {
        float: none;
        margin: 0px;
        input {
            font-size: 12px;
            padding: $padding-default-button;
            @include border-radius($cop-border-radius);
            color: $cop-color-button;
            background-color: $cop-bgcolor;
            border-color: $cop-border-color;
            &:hover{
                @extend %background-color1;
            }
        }
    }

    .ArchetypesSelectionWidget{
        &#archetypes-fieldname-subcop_input, &#archetypes-fieldname-acervo_input, &#archetypes-fieldname-calendario_input,
        &#archetypes-fieldname-forum_input, &#archetypes-fieldname-portfolio_input, &#archetypes-fieldname-tarefas_input{
            clear: none;
            float:left;
            min-width: 220px;
            text-align:center;
            display:block;
            @include border-radius($cop-border-radius);

            &:hover{
                background-color: #e2e4e4;
                cursor:pointer;
            }

            .formQuestion{
                text-align:center;
                margin-top: 5px;
            }
            span.cop-icon {
                font-size: 50px;
                display: block;
                margin-top: 30px;
            }
            input[type="radio"], label, br, .required{
                display:none;
            }
        }
    }
    #available_forms{
        padding-top:10px;
    }
    .ArchetypesRichWidget{
        table{
            border-collapse: separate;
            background-color: $cop-bgcolor;
            td.mceToolbar{
                border-top-left-radius: $cop-border-radius;
                border-top-right-radius: $cop-border-radius;
                border: 1px solid $cop-border-color;
            }
            td.mceIframeContainer{
                border: 1px solid $cop-border-color;
                border-top: none;
                border-bottom:none;
            }
            tr.mceLast td{
                border: 1px solid $cop-border-color;
                border-top:none;
                border-bottom-left-radius: $cop-border-radius;
                border-bottom-right-radius: $cop-border-radius;
                a{
                    @include border-radius($cop-border-radius);
                    border: none;
                }
            }
        }
        div.suppressVisualEditor{
            display:none;
        }
    }
    #archetypes-fieldname-color{

        .formQuestion:after{
            content: "";
            width: 200px;
            height: 200px;
            display: block;
            @include border-radius(100px);
            float: left;
            border: 1px solid $coppla-text-color;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            margin-top: 15px;

        }
        select#color{
            width: 200px;
            padding: $padding-default-button;
            border: 1px solid $cop-border-color;
            @include border-radius($cop-border-radius);
            color: $coppla-text-color;
            margin-left: 100px;
            margin-top: 80px;
            background-repeat: no-repeat;
            background-position: 80%;
            background-size: 70px;

            option[value="gray"]{
                padding: $padding-default-button;
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 70px;
                background-image: url("++resource++communities.practice.images/gray.png")
            }
            option[value="blue"]{
                padding: $padding-default-button;
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 70px;
                background-image: url("++resource++communities.practice.images/blue.png")
            }
            option[value="red"]{
                padding: $padding-default-button;
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 70px;
                background-image: url("++resource++communities.practice.images/red.png")
            }
            option[value="brown"]{
                padding: $padding-default-button;
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 70px;
                background-image: url("++resource++communities.practice.images/brown.png")
            }
            option[value="green"]{
                padding: $padding-default-button;
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 70px;
                background-image: url("++resource++communities.practice.images/green.png")
            }
            option[value="orange"]{
                padding: $padding-default-button;
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 70px;
                background-image: url("++resource++communities.practice.images/orange.png")
            }
        }
    }
}
.modal-content #content form{
    input[type="checkbox"], input[type="radio"] {
        margin: 0 4px 0 0;
        vertical-align: middle;
    }
    .optionsBox label {
        padding: 5px;
        margin: 0px;
    }
}
