.cop-form-activity{
    @extend %background-color2;
    @include border-radius($cop-border-radius);
    padding: 10px;
    font-size: 12pt;
    margin-bottom: 20px;
    label{
        font-weight: lighter;
        color: $coppla-text-color;
    }
    .plone_jscalendar {
        display: inline-block;
        &:first-child{
            margin-right: 70px;
        }
        > .plone_jscalendar{
            white-space: nowrap;
            display: inline-block;
            select{
                @extend .cop-dropdown-button;
            }
        }
    }
}
table#cop_tabela_comunidade{
    width: 100%;
    background-color: #FFFFFF;
    @include border-radius($cop-border-radius);
    border: 10px solid #FFFFFF;
    border-collapse: separate;
    color: $coppla-text-color;
    a:link, a:visited, a:hover{
        color: $coppla-text-color;
        font-weight: lighter;
    }
    span{
        font-weight: lighter;
    }
}

table.cop_config_table {
    th, td{
        padding: 10px;
    }
    tbody tr:nth-child(odd){
        @extend %background-color1;
        @include border-radius($cop-border-radius);
        border-collapse: separate;
    }
    .cop_total_conteudo{
        text-align: right;
        font-size: 10pt;
    }
    thead th{
        text-align: right;
        font-size: 12pt;
        padding-top:0px; 
    }
    .cop_nome_usuario{
        font-size: 10pt;
    }
}

.cop-table-responsive{
    padding: 0px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.cop-panel-heading a:link,.cop-panel-heading a:hover, .cop-panel-heading a:active, .cop-panel-heading a:visited{
    color: #FFFFFF;
    font-size: 16px;
}

.cop_tabela_conteudo{
    width: 100%;

    td, th{
        padding: 5px;
    }

    .cop_objetos_conteudo.cop_objetos_even {
        @extend %background-color2;
    }
}
