.cop-contents{
	#content{
		.boardConversation{
			@extend %background-color2;
			.boardCommentHeaderTitleBlock{
				.cop_author_forum{
					a{
						@extend %color3;
					}
				}
			}
			.cop_Comment{
				.boardCommentContent blockquote {
    				@extend %background-color2;
    			}
    			.cop_actions_comment{
    				input[type="submit"]:hover {
    					@extend %background-color1;
    				}
				}
    		}
		}
	}
}