.cop-post-creation{
    text-align: right;
    margin-bottom: 20px;

    #post_message{
        width:100%;
        resize:vertical;
        font-size: 14px;
        padding: 12px;
        @include border-radius($cop-border-radius);
    }

    #below_post_message{
        height: 30px;

        button#submit_cop_post{
            @include border-radius($cop-border-radius);
            margin-left: 0;
            float: right;
            padding: $padding-default-button;
            font-size: 12px;
            text-transform: lowercase;
            font-weight: 300;
            background-color: $cop-bgcolor;
            background-image: none;
            border: 1px solid $cop-border-color;
            border-color: $cop-border-color;
            color: $cop-color-button;

            &:hover{
                @extend %background-color1;  
            }
            &:disabled{
                color: rgb(160, 160, 160);
            }
        }

        div#post_length{
            margin-top: 10px;
        }
    }

    #post_length{
        color: rgb(160, 160, 160);
        font-size: 10pt;
        float: right;
        margin: 4px 5px;
    }
}