.cop-timeline-item {
    @extend %background-color2;
    padding: 15px;
    @include border-radius($cop-border-radius);
    margin-bottom: 10px;
    color: $coppla-text-color;

    a:hover{
        text-decoration:none;
    }

    .cop-item-info {
        text-align: justify;
        word-wrap: break-word;
        .cop-button-group{
            a.cop-button-small{
                white-space: normal;
            }
        }

        &, & > a{
            color: $coppla-text-color;
            text-decoration: none;
        }
        a{
            display: block;
        }
        span{
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
            word-wrap: break-word;
        }
        p{
            margin-bottom: 10px;
        }
        a.cop-timeline-remote-url{
            color: #2A6496;
            word-wrap: break-word;
        }
        a.cop-timeline-remote-url:hover{
            text-decoration: underline;
        }
    }
    img.cop-timeline-preview {
        max-width: 200px;
        @include responsive-margin;
    }

    p {
        text-align: justify;
        word-wrap: break-word;
        color: $coppla-text-color;
    }

    .cop-timeline-subjects{
      font-size: 12px;
      margin: 15px 0;
      .link-category.cop-button-small{
        padding: 1px 5px;
        font-size: 10px;
      }
    }
}

.cop-authorbox {
    position: relative;
    .cop-author-info {
        display: inline-block;
        vertical-align: top;
        min-height: 45px;

        .cop-sticky-right {
            position: absolute;
            top: -2px;
            right: 0px;
        }

        & > span {
            font-size: 11px;
            color: $coppla-text-color;
        }

        h5 a, span a {
            color: inherit;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.cop-timeline{
    .cop-image-container{
        vertical-align: top;
        float:left;
        display: inline-block;
    }
    .cop-item{
        margin-left: 60px;

        .cop-item-info{
            margin-bottom: 20px;
        }
        .cop_timeline_popup {
            left: 90px;
            max-width: 80%;
            overflow: auto;
        }
    }
    .cop-user-name{
        display:block;
    }
}

@media screen and (max-width : 991px){
    .cop-timeline{
        .cop-item{
            margin-left: 0px;
        }
        .cop_timeline_popup {
            left: 30px !important;
        }
    }
}

.cop-timeline-comments {
    margin-bottom: 6px;
    .cop-timeline-commentary {
        padding: 10px;
    }
    .cop-comments-seeall, .cop-comments-seeall > a {
        text-align: center;
        font-size: 0.9em;
        padding: $padding-default-button;
        color: $coppla-text-color;
        text-decoration: none;
    }
    .cop-timeline-commentary, .cop-comments-seeall {
        margin: 4px 0px;
        background-color: $cop-bgcolor;
        @include border-radius(4px);
        display: block;
        width: 100%;
        @extend %color0;

        p {
            margin-left: 49px;
            margin-top: -18px;
        }
    }
}

 .cop-timeline-action-tag #fieldset-categorization {
     display: block;
 }

 .cop-timeline-action-tag #fieldset-default {
     display: none;
 }

 .cop-timeline-action-tag #fieldset-categorization .formQuestion[for='subject'], .cop-timeline-action-tag #fieldset-categorization .formQuestion[for='relatedItems']  {
     display: none;
 }

 .cop-timeline-action-tag #archetypes-fieldname-location, .cop-timeline-action-tag #archetypes-fieldname-language {
     display: none;
 }

 .cop-timeline-action-tag .noTagsSelected, .cop-timeline-action-tag .oneOrMoreTagsSelected {
     display: none;
 }

 .cop-timeline-action-comment fieldset{
     display: block;
 }

.cop-timeline-action-comment fieldset legend, .cop-timeline-action-comment fieldset p {
    display: none;
}

.cop-timeline-action-comment > div textarea{
    width: 400px;
}

a.cop-timeline-news-link
{
    text-decoration: none;
    color: black;
}

a.cop-timeline-news-link:hover{
    text-decoration: underline;
}

.cop-timeline-news-actionbar a{
    color: rgb(0, 144, 117);
    position:relative;
}

.cop-timeline-news-item hr {
    margin: 20px 0;
    border: none;
    background-color: $coppla-text-color;
    height: 1px;
}

.cop-timeline-news-actionbar {
    margin-top: 10px;
}

a.cop-timeline-news-title {
    font-size: 8pt;
    vertical-align: top;
    line-height: 2em;
}

.cop-timeline-news-action {
    font-size: 8pt;
    text-transform: uppercase;
    margin-right: 5px;
}

.cop-timeline-commentary {
    margin-top: 2px;
    padding: 3px;
    min-height: 38px;
    position: relative;

}

.cop-timeline-commentary .cop-timeline-commentary-content {
    display: block;
    vertical-align: top;
    margin-left: 35px;
    clear:both;
}

.cop-timeline-commentary .cop-timeline-commentary-date {
    float: right;
    font-size: 11px;
}

.cop-timeline-commentary .cop-timeline-news-actionbar {
    margin-left: 0;
}

.cop-timeline-commentary *{
    font-size: 13px;
}

.cop-timeline-commentary-content .cop-timeline-news-action{
    color: rgb(0, 144, 117);
}

.cop-timeline.cop-timeline-news-list {

    p{
        font-size: 12px;
    }
    a:hover{
        opacity: 0.7;
    }
    a.cop-image-link:hover{
        opacity: 1;
    }
}
