.portletLogin{
  label{
    @extend %color0;
    text-align: left;
    display: block;
    width: 100%;
    text-transform: uppercase;
    margin: 0px auto;
    font-weight: bold;
  }
  input{
    width: 100% !important;
  }
  input[type=text], input[type=password]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .formControls{
    @extend %background-color0;
    width: 100%;
    padding: 7px;
    font-size: 12px;
    margin: 30px 0 10px 0;
    border: none;
    border-radius: 5px;
    input{
      @extend %background-color0;
      border: none;
      color: #fff;
    }
  }
  .portletItem{
    &:last-of-type{
      padding: 0 1em;
    }
    a{
      @extend %color0;
      font-size: 12px;
      text-align: center;
      display: block;
      border-bottom: none !important;
      img{
        display: none;
      }
    }
  }
}
