.cop-columns {
    .cop-portal-message{
        dl.portalMessage {
            border: 1px solid #31708f;
            @include border-radius($cop-border-radius);

            dt{
                background-color: #31708f;
                @include border-radius($cop-border-radius);
            }
            dd{
                color: #31708f;
                background-color: #d9edf7;
                @include border-radius($cop-border-radius);
                font-weight: bold;
            }
        }
        dl.portalMessage.error{
            @include border-radius($cop-border-radius);
            border-color: #a94442;

            dt {
                @include border-radius($cop-border-radius);
                background-color: #a94442;
            }
            dd {
                color: #a94442;
                background-color: #f2dede;
                @include border-radius($cop-border-radius);
                font-weight: bold;
            }
        }
    }
}

.cop-columns div.field.error {
    background-color: #F2DEDE;
    border: 1px solid #A94442;
    @include border-radius($cop-border-radius);
}
