/*modais*/

#coppla_modal{
    .modal-dialog.modal-lg{
        .modal-content{
            padding: 15px;
            z-index: 999;
            & *{
                max-width:100%;
            }
            #content {
                clear: none;
                margin: 0;
                
                h1{
                    font-size: 30px;
                }
                
                #content-core{
                    ul li{
                        font-size: 160%;
                    }
                }
            }
            div dl{
                margin-bottom: 0;
            }
            div table td h1 {
                margin-top: 10px;
            }
            .formControls{
                input[type="submit"]{
                    background-color: $cop-bgcolor;
                    padding: $padding-default-button;
                    @include border-radius($cop-border-radius);
                    font-size: 125%;
                    border: 1px solid $cop-border-color;
                }
                input:hover{
                    background-color:#E6E6E6;
                    border-color: $cop-border-color;
                    color: $coppla-text-color;
                }
            }
        }
    }
}

#coppla_modal {
    .modal-dialog.modal-lg{
        .close {
            position: relative;
            z-index: 1000;
            opacity: 1;
            margin-right: 10px;
        }
    }
}
