#addable_content #content{
    .field div.discreet{
        margin-top: 0 !important;
        line-height: 1;
    }
}
.cop-container p.discreet{
    margin-top: 10px;
    margin-bottom: 20px;
}
.nosort{
    @extend .cop-table;
    thead {
        @extend %background-color0;
        th{
            background-color: transparent;
        }
    }
    tbody{
        td{
            max-width: 350px;
        }
        tr.odd{
            background: #FFF;
            td{
                background: #FFF;
            }
        }
    }
}
