.QuickUploadPortlet{
  margin: 0px;
}

.qq-upload-drop-area{
  @extend %background-color1;
  border-radius: 3px;
  background-color: #eee;
}

.qq-upload-button{
  @extend %background-color0;
  width: 100%;
  font-size: 12px;
  margin: 10px 0;
  border: none;
}

#label-upload{
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.qq-upload-list{
  li{
    border: none;
    border-radius: 3px;
    @extend %background-color1;
    padding: 5px;
  }
}

.file_title_field{
  width: 100%;
  height: 25px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.qq-upload-cancel{
  border-radius: 3px;
}

.uploadifybuttons{
  input{
    @extend %background-color0;
    display: inline-block;
    width: 49%;
    font-size: 12px;
    padding: 7px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: #fff;
  }
}

.main-uploader{
  margin: 0px;
}
