.cop-contents{
  #calendar{
    .fc-button{
      @extend %background-0;
      &.ui-state-active{
        background: #44b052 !important;
      }
    }
    .fc-first .fc-day-header{
      @extend %background-color0;
      @extend %background-0;
      color: #fff;
      text-align: center;
      border-color: #333;
    }
    .fc-event{
      @extend %background-color1;
      border: 1px solid $cop-border-color !important;
      color: $coppla-text-color;
      &:hover{
        color: $coppla-text-color !important;
      }
    }
    .ui-state-highlight{
      @extend %background-0;
      color: #fff;
      border: 1px solid #333;
    }
  }
}
