.cop-dropdown-workflow { 
    & > li > a {
        padding: 14px 12px;
        line-height: 12px;
        color: $coppla-text-color;
        @extend %background-color2;
        margin: 5px 8px;
        @include border-radius($cop-border-radius);
        &:hover{
            @extend %background-color2;
            opacity: 0.7;
        }
    }
    
    .cop-workflow-text-container {
        margin-left: 32px;
        margin-top: -18px;
    }

    .cop-workflow-title {
        display: block;
        font-size: 11pt;
    }

    .cop-workflow-description {
        display: block;
        font-size: 8pt;
        margin-top: 4px;
    }
}


#content .dropdown-edit {
    ul.dropdown-editForm {
        padding: 0;
        list-style: none;
        margin: 2px 0;
    }
    li {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px;
    }
    a, a:link, a:hover, a:visited {
        text-decoration: none;
        color: #434648!important;
        border:none;
        display: block;
    }
}
