#visual-portal-wrapper > div{
    float: left;
    width: 100%;
    display: block;
    position: relative;
}

#portal-breadcrumbs{
    margin-left:30px;
}

#ajax-spinner {
    display:none !important;
}

#portal-column-one, #portal-column-two, #portal-column-content {
    margin: 1px;
}

.calendar{
    z-index: 2;
}

@import "loginportlet";

.cop-wrapper{
// customize bootstrap variables here:
@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/images";

@import "bootstrap";
@import "base";
@import "portlets";
@import "palletes";

@import "workflow-dropdown";
@import "actions-dropdown";
@import "discussion";
@import "modal";
@import "timeline_popup";
@import "communityfolder";
@import "configpanels";
@import "cop_timeline";
@import "cop_post_form";
@import "messages";
@import "cop_edit";
@import "cop_member";
@import "menu_mobile";
@import "cop_ploneboard";
@import "cop_notification";
@import "cop_activity";
@import "ploneboard";
@import "quickuploadportlet";
@import "solgemacalendar";

a:link, a:visited {
    color: #205C90;
    text-decoration: none;
}

#coppla_modal{
    background-color: rgba(0, 0, 0, 0.5);
}

textarea{
    @include border-radius($cop-border-radius);
    border: 1px solid $cop-border-color;
}

.cop-container {
    @extend %background-color1;
    @include border-radius();
    font-family: Arial, sans-serif, Helvetica;
    font-size: 14px;
    margin: 0 28px;

    p{
        margin: 0px;
    }

    .cop-container-item{
        @extend %background-color2;
        padding: 10px;
        @include border-radius($cop-border-radius);
        margin-bottom: 10px;
        color: $coppla-text-color;
    }
}

.cop-banner {
    margin-bottom: 15px;
    .cop-logo-column .cop-logo-container {
        width: 100px;
        height: 100px;
        @include border-radius(50px);
        overflow: hidden;
        margin: 0px auto;
        margin-top: 10px;
        img {
            height: 100%;
            width: 100%
        }
    }
    .cop-banner-description {
        h1 {
            font-size: 28px;
            font-weight: 600;
            @extend %color0;
            margin-top: 14px;
        }
        p {
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
            text-align: justify;
            color: $coppla-text-color;;
        }
    }
}

.cop-banner-info {
    font-size: 12px;
    padding-bottom: 16px;
    .glyphicon {
        padding: 0 4px;
        font-size: 18px;
    }
    .cop-status {
        display: inline-block;
        color: $coppla-text-color;
    }
    .cop-participation-status{
        display: inline;
        span:last-child{
            margin-right: 20px;
        }
        span{
            font-size: 8pt;
            color: $coppla-text-color;
        }
        span.cop-icon-criador, span.cop-icon-moderador, span.cop-icon-owner,
        span.cop-icon-participante, span.cop-icon-Criador, span.cop-icon-Moderador,
        span.cop-icon-Owner, span.cop-icon-Participante{
            color: $cop-icon-green;
        }
        span.cop-icon-aguardando, span.cop-icon-Aguardando{
            color: $cop-icon-yellow;
        }
        span.cop-icon-observador, span.cop-icon-Observador{
            color: $cop-icon-blue;
        }
        span.cop-icon-bloqueado, span.cop-icon-Bloqueado{
            color: $cop-icon-red;
        }
    }
}

.cop-columns {
    .cop-contents {
        padding: 15px;

        & > h1 {
            margin-top: 0;
        }
        img{
            max-width:100%;
        }
        #file_table td{
            max-width: 350px;
        }
        .cop-news-page{
            overflow: auto;
        }
    }
    .cop-col:not(.cop-portlet-col) {
        min-height: 100px;
        background-color: #FFF;
        border: 1px solid $cop-border-color;
        @include border-radius(8px);
        overflow: visible;
        &.cop-menu-full {
            width: 100px;
            margin: 0 auto;
            min-height: initial;
        }
        .cop-menu-item .cop-icon-base {
            font-size: 4em;
        }
        .cop-communities-filter {
            float: right;
            margin-bottom: 15px;
        }
    }
    .cop-portlet-col > div[id^='portletwrapper-'] {
         background-color: #FFF;
         margin-bottom: 16px;
         border: 1px solid $cop-border-color;
         @include border-radius(8px);
         overflow: hidden;
    }
}

.cop-sharebox {
    clear:both;
    padding: 8px;
    @include border-radius(4px);
    @extend %background-color2;

    textarea {
        border: none;
    }

    button {
        margin-top: 8px;
        font-size: 0.75em;
        text-transform: lowercase;
        border: 1px solid $cop-border-color;
        @include border-radius($cop-border-radius);
        @include background-image(linear-gradient(#FCFCFC, #EEEEEF));
    }
}

.cop-searchbox {
    margin: 18px 0;
    position: relative;

    input {
        padding-right: 24px;
    }

    .cop-icon-base {
        position: absolute;
        left: 100%;
        top: 50%;
        margin-left: -22px;
        margin-top: -6px;
    }
}

.cop-button-group {
    .btn {
        text-transform: lowercase;
        font-size: 12px;
    }
    .btn:hover{
        opacity: 1;
    }
}

.cop-actions {

    float: right;

    button.cop-dropdown-button-small {
        padding: $padding-default-button;
        font-size: 14px;
        border-bottom-right-radius: $cop-border-radius !important;
        border-top-right-radius: $cop-border-radius !important;
    }

}

.cop-addable-types {
    padding: 5px;
    @extend %background-color2;
    @include border-radius($cop-border-radius);
    .cop-addable-links {
        a, a:link, a:hover {
            @extend %color0;
            background-color: white;
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid $cop-border-color;
            white-space: nowrap;
            padding: $padding-default-button;
            font-size: 14px;
            line-height: 1.428571429;
            @include border-radius($cop-border-radius);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &.cop-active {
                @extend %background-color1;
            }
        }
    }
    a {
        color: $coppla-text-color;
    }
}

.cop-columns  #addable_content #content {
    margin: 10px 5px;
}

.cop-columns .cop-addable-types{
    #addable_content{
        .formControls{
            margin: 0;
            float: none;
        }
    }
}

//A Fix for Edit Labels
.cop-contents .label {
    color: $coppla-text-color;
    font-size: 11px;
}

.cop-contents .cop-table:not(.cop-tabela-comunidade) {
    thead {
        @extend %background-color0;
        th, th a {
            color: #FFF;
            font-size: 11pt;
            text-align: left;
            text-transform: lowercase;
        }
    }

    tbody a, tbody span {
        @extend %color0;
        font-size: 10pt;
    }

    &#user-table{
        table-layout: fixed;
        th#cop-user-role{
            min-width:20%;
        }
        td{
            word-wrap: normal;
            overflow:hidden;
        }
    }
}

.cop-contents .cop-file-pagination-static .listingBar {
    a {
        border: none;
        @include border-radius($cop-border-radius);
        padding: 10px;
        margin-bottom: -10px;
        @extend %color0;

        &:hover {
            @extend %background-color0;
            color: #FFF;
        }
    }

    .current {
        @extend %color0;
        font-weight: bold;
        padding: 10px;
    }
}

.cop-contents > span:first-of-type {
    vertical-align: bottom;
    line-height: 34px;
}

.cop-contents {
    position: relative;

    h1{
        @extend %color0;
    }
    .cop-description{
        margin:20px 0px;
    }
    .cop-actions{
        span{
            @extend %color0;
        }
    }
    #content{
        font-size:13px;
        a:link{
            text-decoration: none;
            border-bottom: none;
            &:visited, &:focus, &:active{
                text-decoration: none;
            }
            &:hover{
                opacity: 0.7;
                text-decoration: none;
            }
        }
        & .cop-content-object{
            margin-bottom:10px;
            a:hover{
                opacity: 1;
            }
        }
    }
    .cop-message-participate{
        display: block;
        @extend %background-color2;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 4px;
        color: $coppla-text-color;
        line-height: 25px;



        .cop-listing-join {
            float: right;
            display: inline-block;
        }
        .cop-clear{
            clear: right;
        }

    }
}

.cop-contents > span:first-of-type::after {
    content: "";
    position: absolute;
    display: inline-block;
    border-bottom: 1px solid $cop-border-color;
    left: 0;
    top: 56px;
    width: 95%;
    margin: auto 12px;
}

.cop-container.wait * {
    cursor: wait !important;
}

form[name="edit_form"] .cop-dropdown-workflow > li {
    list-style: none;
     a {
        padding: $padding-default-button;
        line-height: 10px;
        color: $coppla-text-color;
        background-color: #EFEFEF;
        @include border-radius($cop-border-radius);
        margin: 2px 6px;
        width: 92%;
    }
}

.cop-container-fluid.portal_contents.cop-container{
    word-wrap: break-word;
}

.cop-container-fluid{
    padding: 15px;
}

.cop-user-image{
    width: 45px;
    height: 45px;
    overflow: hidden;
    border: 1px solid $cop-border-color;
    @include border-radius($cop-border-radius);
    margin-right: 13px;
    @extend %border-color0;
    img{
        width: 100%;
        height: 100%;
    }
    &.cop-mini{
        width: 35px;
        height: 35px;
    }
}

.cop-user-name{
    font-size: 13px;
    @extend %color3;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    &:hover{
        opacity: 0.7;
    }
}

.cop-arrow{
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    &.cop-down {
        border-top: 5px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    &.cop-up {
        border-bottom: 5px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    &.cop-right  {
        border-left: 5px solid ;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
    }
    &.cop-left  {
        border-right: 5px solid ;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
    }
}

#cop-container {
    .cop-dropdown-button-small, .cop-dropdown-button {
        border-top-right-radius: $cop-border-radius;
        border-bottom-right-radius: $cop-border-radius;
    }
}
.cop-content-container a#cop_link{
    margin-bottom: 10px;
    display: block;
}

.cop-button-small, .cop-dropdown-button, .cop-dropdown-button-small,
.cop-button-small, .cop-default-button, a.cop-button-small,
a.cop-default-button{
    color: $cop-color-button;
    @include border-radius(4px);
    border-color: $cop-border-color;
    padding: $padding-default-button;

    &:hover, &:active, &:focus{
        @extend %background-color1;
    };
    span{
        @extend %color0;
    }
}

#content a.cop-default-button {
    color: $cop-color-button !important;
    border: 1px solid $cop-border-color !important;

    &:hover, &:active, &:focus{
        text-decoration: none !important;
        color: $cop-color-button !important;
        opacity: 1 !important;
    };
}

.cop-input-group-btn.open{
    ul.cop-dropdown-menu-right{
        color: $coppla-text-color;
        li a:hover{
            @extend %background-color1;
        }
    }
}

span.cop-icon.cop-icon-search{
    @extend %color0;
}

.cop-dropdown-menu-right > li > a:hover, .cop-dropdown-menu > li > a:hover, .btn-default:hover, .cop-default-button:hover {
    @extend %background-color1;
}

.cop-row {
    @extend .row;
}

.cop-form-control {
    height: 30px;
}

.cop-content-container-menu {
    @extend .col-xs-14,.col-sm-14, .col-md-10;
}

.cop-content-container-menu-expanded {
    @extend .col-xs-14, .col-sm-14, .col-md-14;
}

.cop-content-container {
    @extend .col-xs-16, .col-sm-16, .col-md-12;
}

.cop-content-container-expanded {
    @extend .col-xs-16, .col-sm-16, .col-md-16;
}

.cop-container-fluid {
    @extend .container-fluid;
}

.cop-menu-column {
    @extend .col-md-2, .col-sm-2, .col-xs-2;
}

.cop-portlets-container {
    @extend .col-xs-16, .col-md-4;
}

.cop-actions {
    @extend .btn-group;
}

.cop-dropdown-button {
    @extend .btn, .btn-default, .dropdown-toggle;
}

.cop-dropdown-button-small {
    @extend .btn, .btn-default, .btn-xs, .dropdown-toggle;
}

.cop-dropdown-menu-right {
    @extend .dropdown-menu, .dropdown-menu-right;
}

.cop-logo-column {
    @extend .col-xs-3, .col-md-2;
}

.cop-banner-description {
    @extend .col-xs-11, .col-xs-offset-2, .col-sm-offset-0, .col-md-14;
}

.cop-hidden-xs {
    @extend .hidden-xs;
}

.cop-default-button {
    @extend .btn, .btn-default;
}

.cop-workflow-dropdown-group {
    @extend .btn-group, .dropdown;
}

.cop-dropdown-menu {
    @extend .dropdown-menu;
}

.cop-input-group {
    @extend .input-group;
}

.cop-input-group-btn {
    @extend .input-group-btn;
}

.cop-form-control {
    @extend .form-control;
}

.cop-table {
    @extend .table;
}

.cop-table-striped{
    @extend .table-striped;
}

.cop-panel {
    @extend .panel, .panel-default;
}

.cop-panel-body {
    @extend .panel-body;
}

.cop-panel-heading {
    @extend .panel-heading;
}

.cop-button-small {
    @extend .btn, .btn-default, .btn-xs;
}

.cop-tabs-nav{
    @extend .nav, .nav-pills;
}

.cop-active{
    @extend .active;
}

.cop-hidden {
    @extend .hidden-lg, .hidden-md;
}

.cop-table-responsive{
    @extend .table-responsive;
}

.cop-workflow-dropdown-group > .cop-dropdown-button-small {
    border-top-right-radius: $cop-border-radius;
    border-bottom-right-radius: $cop-border-radius;
}


.cop-icon-rating-enabled, .cop-icon-rating-disabled{
    @extend %color0;
}

#category{
    margin: 15px 0;
    .link-category{
        @include border-radius(4px);
        padding: 1px 5px;
        font-size: 10px;
        background-color:#FFF;
        color: $cop-color-button;
        border: 1px solid $cop-border-color !important;
        &:hover, &:active, &:focus{
            @extend %background-color1;
            text-decoration: none;
            color: $cop-color-button !important;
        };
    }
}

}
