.portlet-static-navegacao .portletHeader {
  display: none;
}
.portlet-static-navegacao .portletItem {
  border: 1px solid #016D7E;
}
.portlet-static-navegacao .portletItem img {
  margin-bottom: 14px;
  margin-left: -22px;
}
.portlet-static-navegacao .portletItem h2 {
  color: #004F9E;
  margin-bottom: 7px;
}
.CoPPortletNavegacao ul {
  list-style-type: none;
}
.CoPPortletNavegacao  > li ul {
  margin-left: 15px;
  margin-bottom: 9px;
  margin-top: 9px;
  font-size: 12px;
}
.CoPPortletNavegacao  > li ul a {
  text-decoration: underline;
}
.CoPPortletNavegacao  > li ul a:hover {
  color: #016D7E !important;
}
.CoPPortletNavegacao  > li a:link,
.CoPPortletNavegacao  > li a:visited,
.CoPPortletNavegacao  > li a:hover {
  color: #000;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  border-bottom: none;
}
.CoPPortletNavegacao  > li a:hover {
  color: #000 !important;
}
.CoPPortletNavegacao  > li  > a {
  display: inline-block;
  width: 80%;
  background-image: url("++resource++communities.practice.images/bullet_closed.png");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  padding-left: 34px;
}
.CoPPortletNavegacao  > li:nth-child(odd) > a {
  background-color: #CAE8E7;
}
.CoPPortletNavegacao  > li.selected > a {
  background-image: url("++resource++communities.practice.images/bullet_open.png");
  background-color: #016D7E;
  color: #FFF;
}
