@font-face {
  font-family: "CopplaIcon";
  font-style: normal;
  src: url(++resource++communities.practice.stylesheets/coppla-icon.ttf);
  /*if IE */
  src: url("++resource++communities.practice.stylesheets/coppla-icon.eot");
  src: url("++resource++communities.practice.stylesheets/coppla-icon.otf");
}
/* line 9, ../../static/sass/coppla-icon.scss */
.cop-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'CopplaIcon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../../static/sass/coppla-icon.scss */
.cop-icon-CoP:before {
  content: "o";
}

/* line 25, ../../static/sass/coppla-icon.scss */
.cop-icon-twitter:before {
  content: "B";
}

/* line 29, ../../static/sass/coppla-icon.scss */
.cop-icon-facebook:before {
  content: "A";
}

/* line 33, ../../static/sass/coppla-icon.scss */
.cop-icon-search:before {
  content: "t";
}

/* line 37, ../../static/sass/coppla-icon.scss */
.cop-icon-youtube:before {
  content: "C";
}

/* line 41, ../../static/sass/coppla-icon.scss */
.cop-icon-more:before {
  content: "D";
}

/* line 45, ../../static/sass/coppla-icon.scss */
.cop-icon-back:before {
  content: "E";
}

/* line 48, ../../static/sass/coppla-icon.scss */
.cop-icon-forward:before {
  content: "F";
}

/* line 51, ../../static/sass/coppla-icon.scss */
.cop-icon-document-full:before, .cop-icon-documents:before {
  content: "G";
}

/* line 54, ../../static/sass/coppla-icon.scss */
.cop-icon-gallery:before, .cop-icon-images:before {
  content: "H";
}

/* line 57, ../../static/sass/coppla-icon.scss */
.cop-icon-movie:before, .cop-icon-videos:before {
  content: "I";
}

/* line 60, ../../static/sass/coppla-icon.scss */
.cop-icon-attachment:before {
  content: "J";
}

/* line 63, ../../static/sass/coppla-icon.scss */
.cop-icon-exclude:before {
  content: "K";
}

/* line 66, ../../static/sass/coppla-icon.scss */
.cop-icon-print:before {
  content: "L";
}

/* line 69, ../../static/sass/coppla-icon.scss */
.cop-icon-document:before, .cop-icon-CoPDocument:before, .cop-icon-CoPATA:before {
  content: "G";
}

/* line 72, ../../static/sass/coppla-icon.scss */
.cop-icon-edit:before {
  content: "N";
}

/* line 75, ../../static/sass/coppla-icon.scss */
.cop-icon-paste:before, .cop-icon-copy:before {
  content: "O";
}

/* line 78, ../../static/sass/coppla-icon.scss */
.cop-icon-folder:before, .cop-icon-CoPFolder:before {
  content: "P";
}

/* line 81, ../../static/sass/coppla-icon.scss */
.cop-icon-link:before, .cop-icon-CoPLink:before, .cop-icon-CoPShare:before {
  content: "Q";
}

/* line 84, ../../static/sass/coppla-icon.scss */
.cop-icon-pictures:before {
  content: "R";
}

/* line 87, ../../static/sass/coppla-icon.scss */
.cop-icon-home:before {
  content: "a";
}

/* line 90, ../../static/sass/coppla-icon.scss */
.cop-icon-acervo:before {
  content: "b";
}

/* line 93, ../../static/sass/coppla-icon.scss */
.cop-icon-calendario:before, .cop-icon-CoPEvent:before {
  content: "c";
}

/* line 96, ../../static/sass/coppla-icon.scss */
.cop-icon-portfolio:before, .cop-icon-CoPPortfolio:before {
  content: "d";
}

/* line 99, ../../static/sass/coppla-icon.scss */
.cop-icon-forum:before, .cop-icon-PloneboardConversation:before {
  content: "e";
}

/* line 102, ../../static/sass/coppla-icon.scss */
.cop-icon-tarefas:before, .cop-icon-copcommunityneverlogged:before {
  content: "f";
}

/* line 105, ../../static/sass/coppla-icon.scss */
.cop-icon-atividade:before, .cop-icon-copcommunityfolderatividade:before {
  content: "g";
}

/* line 108, ../../static/sass/coppla-icon.scss */
.cop-icon-share:before {
  content: "h";
}

/* line 111, ../../static/sass/coppla-icon.scss */
.cop-icon-info:before {
  content: "i";
}

/* line 114, ../../static/sass/coppla-icon.scss */
.cop-icon-help:before {
  content: "j";
}

/* line 117, ../../static/sass/coppla-icon.scss */
.cop-icon-presentation:before {
  content: "k";
}

/* line 120, ../../static/sass/coppla-icon.scss */
.cop-icon-stack:before {
  content: "l";
}

/* line 123, ../../static/sass/coppla-icon.scss */
.cop-icon-mail:before {
  content: "m";
}

/* line 126, ../../static/sass/coppla-icon.scss */
.cop-icon-photo:before, .cop-icon-CoPImage:before {
  content: "n";
}

/* line 129, ../../static/sass/coppla-icon.scss */
.cop-icon-add:before {
  content: "o";
}

/* line 132, ../../static/sass/coppla-icon.scss */
.cop-icon-people:before, .cop-icon-copmoderadormaster:before {
  content: "p";
}

/* line 135, ../../static/sass/coppla-icon.scss */
.cop-icon-lock:before {
  content: "q";
}

/* line 138, ../../static/sass/coppla-icon.scss */
.cop-icon-info-balloon:before {
  content: "r";
}

/* line 141, ../../static/sass/coppla-icon.scss */
.cop-icon-minus:before {
  content: "s";
}

/* line 144, ../../static/sass/coppla-icon.scss */
.cop-icon-notificacoes:before {
  content: "u";
}

/* line 147, ../../static/sass/coppla-icon.scss */
.cop-icon-shout:before {
  content: "v";
}

/* line 150, ../../static/sass/coppla-icon.scss */
.cop-icon-write:before, .cop-icon-rename:before {
  content: "w";
}

/* line 153, ../../static/sass/coppla-icon.scss */
.cop-icon-configuracoes:before {
  content: "x";
}

/* line 156, ../../static/sass/coppla-icon.scss */
.cop-icon-file:before, .cop-icon-CoPFile:before {
  content: "y";
}

/* line 159, ../../static/sass/coppla-icon.scss */
.cop-icon-action:before {
  content: "z";
}

/* line 162, ../../static/sass/coppla-icon.scss */
.cop-icon-awaiting:before {
  content: "V";
}

/* line 166, ../../static/sass/coppla-icon.scss */
.cop-icon-restricted:before, .cop-icon-restrito:before {
  content: "3";
}

/* line 169, ../../static/sass/coppla-icon.scss */
.cop-icon-private:before, .cop-icon-privado:before {
  content: "4";
}

/* line 172, ../../static/sass/coppla-icon.scss */
.cop-icon-public:before, .cop-icon-publico:before {
  content: "Y";
}

/* line 175, ../../static/sass/coppla-icon.scss */
.cop-icon-shared:before, .cop-icon-compartilhado_na_arvore:before {
  content: "5";
}

/* line 178, ../../static/sass/coppla-icon.scss */
.cop-icon-rating-enabled:before {
  content: "6";
}

/* line 181, ../../static/sass/coppla-icon.scss */
.cop-icon-rating-disabled:before {
  content: "7";
}

/* line 184, ../../static/sass/coppla-icon.scss */
.cop-icon-authenticated:before, .cop-icon-autenticado:before {
  content: "T";
}

/* line 187, ../../static/sass/coppla-icon.scss */
.cop-icon-subcop:before {
  content: "S";
}

/* line 190, ../../static/sass/coppla-icon.scss */
.cop-icon-delete:before {
  content: "U";
}

/* line 193, ../../static/sass/coppla-icon.scss */
.cop-icon-cut:before {
  content: "2";
}

/* line 196, ../../static/sass/coppla-icon.scss */
.cop-icon-bloqueado:before, .cop-icon-Bloqueado:before {
  content: "U";
}

/* line 199, ../../static/sass/coppla-icon.scss */
.cop-icon-criador:before, .cop-icon-moderador:before, .cop-icon-owner:before, .cop-icon-participante:before,
.cop-icon-Criador:before, .cop-icon-Moderador:before, .cop-icon-Owner:before, .cop-icon-Participante:before,
.cop-icon-participating:before {
  content: "X";
}

/* line 204, ../../static/sass/coppla-icon.scss */
.cop-icon-aguardando:before, .cop-icon-Aguardando:before {
  content: "V";
}

/* line 207, ../../static/sass/coppla-icon.scss */
.cop-icon-observador:before, .cop-icon-Observador:before {
  content: "D";
}

/* line 210, ../../static/sass/coppla-icon.scss */
.cop-icon-formularios:before, .cop-icon-CoPTutors:before, .cop-icon-BFGoodPracticeReport:before,
.cop-icon-BFCheckList:before, .cop-icon-CoPCaseDescription:before, .cop-icon-BFVisitAcknowledge:before {
  content: "N";
}

/* line 214, ../../static/sass/coppla-icon.scss */
.cop-icon-chat:before {
  content: "W";
}

/* line 217, ../../static/sass/coppla-icon.scss */
.cop-icon-participar:before {
  content: "Z";
}

/* line 220, ../../static/sass/coppla-icon.scss */
.cop-icon-curso:before {
  content: "?";
}

/* line 223, ../../static/sass/coppla-icon.scss */
.cop-icon-tag:before {
  content: "'";
}

/* line 226, ../../static/sass/coppla-icon.scss */
.cop-icon-tag-follow:before {
  content: "%";
}

/* line 229, ../../static/sass/coppla-icon.scss */
.cop-icon-tag-following:before {
  content: "$";
}

/* line 232, ../../static/sass/coppla-icon.scss */
.cop-icon-tag-unfollow:before {
  content: "&";
}

/* line 235, ../../static/sass/coppla-icon.scss */
.cop-icon-presentations:before {
  content: "M";
}
